<div class="py2 post-footer">
  <!-- <img src="{{ site.baseurl }}/images/me.jpeg" alt="" class="avatar" /> -->
  <p>
    Hercules CI is on a mission to make life better for everyone who writes, deploys and runs software with Nix.
  </p>
  <p>
    Check out <a href="https://hercules-ci.com/about">hercules-ci.com</a>: the principled, Nix-native CI/CD solution.
  </p>
  <p>Follow <a href="https://twitter.com/hercules_ci">@hercules_ci</a></p>

  <!-- Begin Mailchimp Signup Form -->
  <div style="background: #ddd; border-radius: 1em; padding: 3em;">
    <form
      action="https://hercules-ci.us19.list-manage.com/subscribe/post?u=a173852f74fdbc2369fc4392e&amp;id=6ab398faa9&amp;v_id=4288&amp;f_id=000b92e4f0"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
      <div>
        <h2>Subscribe for more blog posts</h2>
        <div>
          <label for="mce-EMAIL">Email Address
          </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
        </div>
        <div id="signup-details">
          <div id="mergeRow-gdpr">
            <div>
              <label>Marketing Permissions</label>
              <p>Please select the ways you would like to hear from Hercules CI:</p>
              <fieldset name="interestgroup_field" style="background: #fff; border-radius: 1em; padding: 1em;">
                <div><label for="gdpr_32329"><input type="checkbox" id="gdpr_32329" name="gdpr[32329]" value="Y"
                      checked="true"><span>Blog
                      Post Notifications</span>
                  </label>
                </div>
                <div>
                  <label class="checkbox subfield" for="gdpr_121912"><input type="checkbox" id="gdpr_121912"
                      name="gdpr[121912]" value="Y"><span>Commercial Offers (discounts, etc)</span>
                  </label>
                </div>
              </fieldset>
              <p>You can unsubscribe at any time by clicking the link in the footer of our emails. For information about
                our privacy practices, please visit our website.</p>
            </div>
            <div>
              <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your
                information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/terms"
                  target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
            </div>
          </div>
          <div hidden="true"><input type="hidden" name="tags" value="6246284"></div>
          <!-- people should not fill this in and expect a result - do not remove this or risk silly form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
              name="b_a173852f74fdbc2369fc4392e_6ab398faa9" tabindex="-1" value=""></div>
          <div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button primary">
          </div>
        </div>
      </div>
    </form>
  </div>
  <script>
    var emailField = document.querySelector("#mce-EMAIL")
    var signupDetails = document.querySelector("#signup-details")
    function showSignupDetails() {
      signupDetails.style.display = "";
    }
    emailField.addEventListener('keyup', showSignupDetails);
    emailField.addEventListener('focus', showSignupDetails);
    emailField.addEventListener('click', showSignupDetails);

    signupDetails.style.display = "none";
  </script>
  <!--End mc_embed_signup-->
</div>